<h1>Details Page</h1>
<h3>Item details:  </h3>
<ul>
    <li>id: {{_id}}</li>
    <li>movie: {{movie}}</li>
    <li>director: {{director}}</li>
    <li>year: {{year}}</li>
</ul>
<a href='/'>Back to home page.</a>氀