<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Trails</title>
  </head>
  <body>
    <div id="wrapper">
      <div class="first-container">
        <hr>
    <h3>Trails</h3>
    {{#each movies}}
    <li><a href="/detail?trailname={{title}}"></a></li>
    {{/each}}
      </div>

    </div>
  </body>
</html>